.logo {
  display: block;
  height: 30px;
  width: 170px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.main-button {
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  margin-right: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.main-button:hover {
  color: #dc3545;
}

a {
  cursor: pointer;
}

.icon {
  fill: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.social-network__icon:hover > .icon {
  fill: #ff0e3b;
}

.btn-one {
  position: relative;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 190px;
  height: 65px;
  border: 2px solid #ff0e3b;
  overflow: hidden;
  padding: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.btn-one::after {
  content: '';
  display: block;
  height: 100%;
  width: 300px;
  background-color: #ff0e3b;
  margin: 0;
  transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  -moz-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -o-transform: skewX(-45deg);
  position: absolute;
  top: 0;
  left: -30px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.bth-one__text {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  margin: 0 auto 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.btn-one:hover::after {
  left: calc(100% + 10px);
}

.bth-one__text {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-one:hover > .bth-one__text {
  color: #ff0e3b;
}

.btn-two {
  position: relative;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 190px;
  height: 65px;
  border: 2px solid #ff0e3b;
  margin: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.btn-two:hover {
  background-color: #ff0e3b;
}

.bth-two__text {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  margin: 0 auto 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-weight: bolder;
}

.btn-switch {
  width: 40px;
  height: 45px;
  bottom: 0;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.btn-switch:hover {
  color: #ff0e3b;
}

.active {
  background-color: #ff0e3b;
  width: 45px;
  height: 45px;
}

.active:hover {
  color: white;
}
/*# sourceMappingURL=buttons.css.map */