.pr-card {
  height: 498px;
  padding: 0 65px 0 65px;
}

.pr-card__logo {
  width: 41px;
  height: 41px;
  margin: 110px auto 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pr-card__header {
  text-align: center;
  margin: 25px auto 0 auto;
}

.pr-card__description {
  text-align: center;
  font-size: 15px;
  margin-top: 28px;
  line-height: 2em;
}

.list {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #a5a5a5;
  padding-left: 33px;
  margin-top: 49px;
  margin-left: -3px;
}

.list__cell {
  margin: 0;
  min-height: 33px;
  line-height: 33px;
  margin-bottom: 22px;
  padding-left: 19px;
  position: relative;
}

.list__cell::before {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  left: -33px;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__item {
  width: 350px;
  height: 100%;
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.classes-slider__carousel {
  width: 1500px;
}

.item__content {
  background-color: #eef3f6;
  padding: 72px 20px 108px 20px;
  text-align: center;
  position: relative;
  transition: all .2s;
}

.item__content__yoga-header {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 24px;
  transition: all .2s;
}

.item__content__text {
  margin: 0;
  margin-top: 25px;
}

.item__content__name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 55px;
}

.item__content__name>span {
  color: #909090;
}

.content__item-photo {
  display: block;
  box-sizing: content-box;
  width: 101px;
  height: 101px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 101px 101px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.pricing__slider__cantainer {
  width: 100%;
  height: 100%;
  margin-top: 90px;
}

.pricing__slider {
  width: 100%;
  height: 100%;
}

.item-photo__photo {
  height: 101px;
  width: 101px;
}

.carousel__item:hover>.item__content {
  background-color: #190a49;
}

.carousel__item:hover>.item__content>.item__content__name {
  color: white;
}

.carousel__item:hover>.item__content>.item__content__yoga-header {
  color: white;
}

.carousel__item:hover>.item__content>.content__item-photo {
  box-shadow: 0px 0px 0px 4px #ff0e3b;
  // border: 3px solid #ff0e3b;
}

.pricing__item {
  width: 350px;
  height: 100%;
  background: #ffffff;
}

.promo-item {
  background: #190a49;
}

.pricing__title-box {
  width: 100%;
  height: 202px;
  overflow: hidden;
  position: relative;
}

.pricing__title-box div {
  position: relative;
  z-index: 1
}

.pricing__title-box::before,
.pricing__title-box::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 120%;
  bottom: 0;
  background: #190a49;
  z-index: 0;
}

.pricing__title-box::before {
  transform-origin: bottom right;
  right: 50%;
  transform: rotate(22.5deg);
  -webkit-transform: rotate(22.5deg);
  -moz-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
}

.pricing__title-box::after {
  left: 50%;
  transform-origin: bottom left;
  transform: rotate(-22.5deg);
  -webkit-transform: rotate(-22.5deg);
  -moz-transform: rotate(-22.5deg);
  -ms-transform: rotate(-22.5deg);
  -o-transform: rotate(-22.5deg);
}

.pricing__name {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 49px;
  line-height: 1.2;
  text-align: center !important;
}

.pricing__price {
  font-size: 48px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 14px;
  line-height: 1.2;
  text-align: center !important;
}

.pricing__per {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
  text-align: center !important;
}

.pricing__content {
  padding: 52px 0 46px 0;
  position: relative;
}

.pricing__list ul li:not(:last-of-type) {
  margin-bottom: 15px;
}

.pricing__list ul li {
  font-size: 14px;
  font-weight: 400;
  color: #838383;
  list-style: none;
  text-align: center;
}

.pricing__info {
  margin-top: 35px;
  width: 19px;
  height: 19px;
  background: #ffc016;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.pricing__info a {
  display: block;
  position: relative;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.pricing__button,
.pricing__button {
  display: block;
  width: 165px;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}


.pricing__price span {
  font-size: 25px;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
}

.promo::before,
.promo::after {
  background-color: #ff0e3b;
}

.contact-block {
  width: 400px;
  padding: 0 15px;
  text-align: center;
}

.contact-block__string-1,
contact-block__string-2 {
  display: block;
}

.contact-block-icon {
  position: relative;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0f0432;
  margin: 0 auto;
}

.contact-block-icon>img {
  display: block;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.contact-block__neader {
  margin-top: 33px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

.contact-block__string-1,
.contact-block__string-2 {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #a5a5a5;
  font-family: 'Open Sans', sans-serif;
}

.contact-block__string-1 {
  margin-top: 25px;
}

.contact-block__string-2 {
  margin-top: 15px;
}

.trainer-card {
  width: 285px;
  padding: 0 15px;
}

.trainer-card__photo {
  position: relative;
  width: 100%;
}

.trainer-card__image {
  display: block;
  width: 100%;
}

.trainer-card__info {
  background-color: white;
  position: absolute;
  width: 198px;
  height: 120px;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trainer-card__info__name {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #2c2c2c;
  text-transform: uppercase;
  line-height: 1.2;
}

.trainer-card__info__work {
  font-size: 14px;
  font-weight: 600;
  color: #ff0e3b;
  margin-top: 7px;
}

.trainer-card__info .icon {
  fill: #190a49;
  margin: auto;
}

.trainer-card__info .icon:hover {
  fill: #ff0e3b;
}

.trainer-card__info__network {
  margin-top: 20px;
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.trainer-card__descrioption {
  padding-top: 80px;
  margin-bottom: 60px;
}

.text-gray {
  text-align: center;
}

.new::before {
  content: 'New';
  display: block;
  position: absolute;
  top: -18px;
  left: 25px;
  background: #443586;
  width: 78px;
  height: 37px;
  z-index: 1;
  text-align: center;
  line-height: 37px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.new>.item__content {
  background: #ff0e3b;
  color: white;
}

.new>.item__content>.header-3,
.new>.item__content>.item__content__text {
  color: white;
}

.icon-box {
  width: 380px;
  padding: 0 15px;
  min-height: 340px;
}

.icon-box__icon {
  width: 82px;
  height: 82px;
}

.icon-box__icon>img {
  width: 100%;
  height: 100%;
}

.icon-box__header {
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  line-height: 1.2;
  margin-top: 35px;
  color: #2c2c2c;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 24px;
}

.icon-box__description {
  text-align: left;
  margin-top: 30px;

}


.post-card {
  width: 350px;
  position: relative;
}

.post-card__photo {
  display: block;
  width: 100%;
  height: 280px;
}

.post-card__photo>img {
  display: block;
  width: 100%;
  height: 100%;
}

.post-card__date {
  text-decoration: none;
  position: absolute;
  top: -32px;
  left: 13px;
  width: 74px;
  height: 99px;
  background: #190a49;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post-card__date>span {
  color: white;
}

.post-card__date .date__day {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  line-height: 0.75;
}

.post-card__date .date__month {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.75;
  margin-top: 9px;
}

.post-card__date .date__year {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.75;
  margin-top: 8px;
}

.post-card__title {
  font-size: 24px;
  margin-top: 34px;
}

.post-card__title>a {
  text-decoration: none;
  text-transform: none;
  color: #2c2c2c;
  letter-spacing: 0px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.post-card__title:hover > a {
  color:  #ff0e3b;
}

.post-card__info {
  display: flex;
  height: 40px;
  width: 100%;
  margin-top: 36px;
}

.post-card__info>img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.post-card__info__author-name {
  padding-left: 11px;
  display: flex;
  align-items: center;
}

.post-card__info__author-name>span {
  font-size: 14px;
    color: #909090;
    font-weight: 700;
}

.post-card__info__author-name>a {
  font-size: 14px;
  color: #2c2c2c;
  margin-left: 3px;
  font-weight: 700;
  text-decoration: none;
}

.post-card__description {
  margin-top: 13px;
  text-align: left;
}

.post-card__button {
  margin-top: 25px;
}

